/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%;
}

.container-twelve {
  overflow: hidden;
}

body {
  color: #060100;
  background-color: #c1b2b4;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #990000;
  font-size: 100%; 
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a:link, a:visited { color: #008080; }
a:hover, a:focus, a:active { color: #3c4858; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.row {
  margin-top: 3em;
}

.image {
  height:200px;
}
#spree-image { background-image: url('/images/spree.jpg'); }
#lightning-image { background-image: url('/images/lightning.jpg'); }
#road-image { background-image: url('/images/road.jpg'); }

.long-image {
  height: 600px;
}
#dome-image { background-image: url('/images/dome.jpg'); }
#tvtower-image { background-image: url('/images/tvtower.jpg'); }

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 0 auto;
  width: 960px;
  line-height: 1.5em;
  background-color: #FFF;
}

.site .front-head {
  position: relative;
}
.site .head {
  position: relative;
  background-image: url('/images/river-spree.jpg');
  width: 960px; height: 400px;
  z-index: 2;
}
.site .head-bg-stripe {
  position: absolute; top: 0; left: -1000px; width: 2960px; height: 100%;
  z-index: 1;
  background-color: #826569;
}

.site .header {
  margin-top: 20px;
}
.site .header > * {
  margin-top: 10px;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.header a:link, .header a:visited  {
  color: #aaaaaa;
}

.site .header .title {
  display: inline-block;
  font-size: 150%;
}

.header .title a:link, .header .title a:visited {
  color: #990000;
}

.site .header a:hover, .site .header a:active, .site .header a:focus {
  color: #060100;
}

.site .meta {
  color: #aaaaaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #826569;
  overflow: hidden;
}

hr {
  border: 0;
  background-color: #826569;
  height: 4px;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@media (max-device-width: 960px) {
  #all-posts, #single-post { width: 940px; }
  #home .front-head, .long-image { display: none; }
}
